.widget
	.widget-title.h5 Categories
	.widget-body
		ul.widget-list
			li.widget-list-item
				a.widget-list-link( href='#' ) News
				span.widget-list-count= '3'
			li.widget-list-item
				a.widget-list-link( href='#' ) Drones
				span.widget-list-count= '4'
			li.widget-list-item
				a.widget-list-link( href='#' ) Review
				span.widget-list-count= '8'
			li.widget-list-item
				a.widget-list-link( href='#' ) Tips
				span.widget-list-count= '1'
			li.widget-list-item
				a.widget-list-link( href='#' ) Aerial
				span.widget-list-count= '2'
			li.widget-list-item
				a.widget-list-link( href='#' ) Photography
				span.widget-list-count= '7'
			li.widget-list-item
				a.widget-list-link( href='#' ) Videography
				span.widget-list-count= '1'
			li.widget-list-item
				a.widget-list-link( href='#' ) Accessories
				span.widget-list-count= '1'
			li.widget-list-item
				a.widget-list-link( href='#' ) Other
				span.widget-list-count= '4'
